.profile {
  padding: 3rem;
}
.profile__header {
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.profile__avatar {
  height: 5rem;
  border-radius: 99px;
  margin-right: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(26, 26, 44, 0.15);
}
.profile__header span {
  margin-top: 4rem;
}
.profile__inner {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(26, 26, 44, 0.05);
  padding: 2rem;
  margin-top: 3rem;
}
.profile__inner p {
  margin: 0;
  padding-bottom: 1rem;
  display: flex;
}
.profile__inner p span:first-child {
  flex: 20%;
  min-width: 100px;
  font-weight: 500;
}
.profile__inner p span:nth-child(2) {
  flex: 80%;
}
