.profile {
  padding: 3rem;
}
.profile__header {
  display: flex;
  align-self: flex-start;
  align-items: center;
}
.profile__avatar {
  height: 5rem;
  border-radius: 99px;
  margin-right: 1.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(26, 26, 44, 0.15);
}
.profile__header span {
  margin-top: 4rem;
}
.profile__inner {
  display: flex;
}
