@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500;700;800;900&display=swap");

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #fafafa;
}

::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border: 3px solid #fafafa;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a1a2c;
}
